@charset "UTF-8";
/*
0-600px:    Phone
600-900px:  Tablet portrait
900-1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :  Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  /* font-family: 'Lato', sans-serif;  */
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.6rem;
    word-spacing: 1.4rem;
    animation: moveInRight 1s ease-out; }

.header-photo-by {
  color: #777;
  text-align: right;
  margin-top: -5vh; }

.heading-secondary {
  font-size: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #8ae666, #2b8551);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(0.15deg) skewX(3deg) scale(1.3);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1); }
  .heading-secondary--light {
    background-image: linear-gradient(to right, #eee, #fff); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-right-text {
  text-align: right !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  /* text-transform: uppercase; */
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  /* 圓角 */
  letter-spacing: 0rem;
  transition: all .2s;
  /* 變形動畫 */
  position: relative;
  /* 相對於::after */ }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /* X(寬)變為1.4倍; Y(高)變為1.6倍 */
    opacity: 0;
    /* 在hover樣式啟動之後, 立刻透明化 */ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #68b466;
  color: #fff; }
  .btn--green::after {
    background-color: #68b466; }

.btn::after {
  content: "";
  /* 可留白 但一定要有此屬性 */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  /* transition要在初始態設定 */ }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /* 動畫播放前先隱藏 */ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #68b466;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #68b466;
  padding: 3px;
  transition: all .5s; }

.btn-text:hover {
  background-color: #68b466;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    color: #000;
    font-size: 2rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #429198, #2b5b85); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #429198, #2b5b85); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #429198, #2b5b85); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: hue;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #429198, #2b5b85), url(../img/net-1.jpg);
      /* Photo by Thomas Kvistholt on Unsplash */ }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #429198, #2b5b85), url(../img/net-2.jpg);
      /* Photo by Sai Kiran Anagani on Unsplash */ }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #429198, #2b5b85), url(../img/net-3.jpg);
      /* Photo by Clem Onojeghuo on Unsplash */ }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: .5rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(66, 145, 152, 0.85), rgba(43, 91, 133, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(66, 145, 152, 0.85), rgba(43, 91, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(66, 145, 152, 0.85), rgba(43, 91, 133, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__download-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__download-more {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__download-version {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 100; }

.composition__photo {
  width: 60%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 0.3s;
  z-index: 10;
  outline-offset: 1.5rem; }
  .composition__photo--p1 {
    left: 15%;
    top: 25rem; }
  .composition__photo--p2 {
    left: 18%;
    top: 5rem; }
  .composition__photo--p3 {
    left: 55%;
    top: 0rem; }
  .composition__photo:hover {
    outline: 1rem solid rgba(104, 180, 102, 0.1);
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20; }

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  height: 45rem;
  position: relative; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #8ae666, #2b8551);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__btn {
    vertical-align: bottom;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%); }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__text {
    margin-top: 1.5rem;
    font-size: 1.4rem; }

.myinfo__intro > p {
  border-left: 2px solid #999;
  border-right: 2px solid #999; }

.myinfo__pic > h3 {
  transition: all .5s; }
  .myinfo__pic > h3 > i {
    font-size: 2.5rem; }
  .myinfo__pic > h3:hover {
    color: #68b466;
    transform: scale(1.3) translateY(0.5rem); }

.myinfo__exp > p {
  border-left: 2px solid #999;
  border-right: 2px solid #999; }

.footer {
  background-color: #333;
  padding: 2rem 0 2rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__office {
    margin-right: 1rem;
    vertical-align: top;
    color: #f7f7f7; }
    .footer__office-head {
      color: #8ae666; }
    .footer__office-address {
      font-size: 1.2rem; }
  .footer__email {
    color: #f7f7f7; }
    .footer__email:hover {
      color: #8ae666; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #68b466;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(2deg) scale(1.3); }
  .footer__intro {
    color: #f7f7f7;
    font-size: 2rem; }
  .footer__copyright {
    color: #999; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc((100% - 2 * 5rem) * 2/3 + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-3-of-4 {
    width: calc((100% - 3 * 5rem) * 3/4 + 2 * 5rem); }

.header {
  height: 35vh;
  background-image: linear-gradient(to right bottom, rgba(138, 230, 102, 0.8), rgba(43, 133, 81, 0.8)), url(../img/mountain.jpg);
  /* Photo by Christopher Burns on Unsplash */
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* height: 35px; */
    height: 7.5rem;
    display: inline-block; }
  .header__slogan {
    color: white; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden; }

.section-myInfo {
  background-color: #f7f7f7;
  padding: 5rem 0;
  margin-top: 0; }

.section-myWork {
  margin-top: 0;
  background-color: #f7f7f7;
  padding: 0rem 0 10rem 0; }
